.contact-us {
    background: linear-gradient(to left, var(--c-pearl-bush) 77%, var(--c-persian-green) 23%);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-us-image {
    padding-top: 80px;
    width: 40%; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    position: relative;
    overflow: hidden; 
    height: 500px; 
}

.contact-us-image img {
    width: 100%;
    height: 100%; 
    border-radius: 50% 50% 0 0; 
    object-fit: cover; 
}

.contact-us-content {
    flex: 1;
    padding-top: 100px;
    padding-left: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us-heading {
    font-size: 50px;
    font-weight: 600;
    color: #1D1D1D;
    font-family: 'General Sans', sans-serif;
    margin-bottom: 20px;
}

.contact-us-heading .highlight {
    font-family: "Gotcha", cursive;
    color: #009496;
}

.contact-us-description {
    font-size: 20px;
    color: #666666;
    font-family: 'General Sans', sans-serif;
    margin-bottom: 40px;
}

.contact-us-buttons {
    display: flex;
    gap: 10px;
}

.btn-primary {
    background-color: var(--c-turquoise); 
    color: var(--c-white);
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #00796b;
}

.btn-secondary {
    background-color: #F1EAE6;
    color: var(--c-ebony);
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 0.3px solid var(--c-ebony);
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #f0f0f0;
}
