.hero {
    background: linear-gradient(to right, #F1EAE6 80%, #009496 20%);
    display: flex;
    align-items: stretch; 
}

.hero-content {
    max-width: 60%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero-content h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--c-ebony); 
    margin-bottom: 20px;
}

.hero-content h1 .highlight {
    font-family: "Gotcha", cursive;
    font-weight: 400;
    color: var(--c-turquoise); 
    font-size: 60px;
}

.hero-content p {
    font-size: 18px;
    font-family: "General Sans", sans-serif;
    color: var(--c-scorpion); 
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background-color: var(--c-turquoise); 
    color: var(--c-white);
    border-radius: 25px;
    padding: 1rem 1.5rem;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn-primary:hover {
    background-color: var(--c-tiber);
}

.btn-secondary {
    background-color: #F1EAE6;
    color: var(--c-ebony);
    border-radius: 25px;
    padding: 1rem 1.5rem;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--c-ebony);
}

.btn-secondary:hover {
    background-color: var(--c-peach-schnapps);
}

.hero-image {
    padding-top: 50px;
    width: 40%; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    position: relative;
    overflow: hidden; 
    height: 500px; 
}

.hero-image img {
    width: 100%;
    height: 100%; 
    border-radius: 50% 50% 0 0; 
    object-fit: cover; 
}
